article {
  width: min(100% - 20px, 750px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;

  button {
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 10px;
  }

  .btn {
    button {
      &:first-child {
        margin-right: 12px;
        background-color: red;
      }
      &:last-child {
        background-color: green;
      }
      border-radius: 50%;
      font-size: 24px;
    }
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
