
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}


body {
  background-color: #F0F8FF;
  font-family: "Fira Code", sans-serif;
  font-weight: normal;
}
