<div class="container text-center">
  <p>{{ title }}</p>

  <div class="row">
    <h6>{{ sectionTitle }}</h6>
    <div class="col">
      <p>*ngif</p>
      <div>
        <input type="checkbox" (click)="toggleBtn()">Terms and conditions
      </div>


      <button type="submit" class="btn btn-secondary" *ngIf="isBtnToggle">Test *ngif</button>

      <hr>
      <button class="btn btn-success m-2" (click)="show()">show element</button>
      <button class=" btn btn-danger" (click)="hide()"> hide element</button>

      <div *ngIf="showElement">
        <input type="text" placeholder="writ your name">
      </div>

      <hr>
      <div>
        <input type="text" class="m-1" [(ngModel)]="input1">
        <input type="text" [(ngModel)]="input2">

        <p *ngIf="input1 === input2">
          Both input values are equal
        </p>

        <p *ngIf="input1 !== input2">Sorry, they are not equal</p>
      </div>
    </div>
    <div class="col">
      <p> built-in control if block </p>

      <div>
        <input type="checkbox" (click)="toggleBtn()">Terms and conditions
      </div>

      @if (isBtnToggle) {
        <button type="submit" class="btn btn-secondary">Test if block</button>
      }

      <hr>

      <button class="btn btn-success m-2" (click)="show()">show element</button>
      <button class=" btn btn-danger" (click)="hide()"> hide element</button>

      @if (showElement) {
        <input type="text" placeholder="writ your name">
      }

    </div>

  </div>
  <hr>
  <div class="row">
    <h6>{{ sectionTitle2 }}</h6>
    <div class="col">
      <p>*ngFor</p>
      <ul class="ngfor">
        <li *ngFor="let course of courses">{{ course }}</li>
      </ul>

      <!--      <hr>-->
    </div>
    <div class="col">
      <p> for block built-in control structure </p>
      <ul class="for-block">
        @for (item of courses; track item; let idx = $index, count = $count, e = $even, last = $last) {

          @if (e) {
            <li class="text-success">{{ item }}</li>
          } @else if (last) {
            <li class="text-danger">{{ item }}</li>
          } @else {
            <li>{{ item }}</li>
          }

        } @empty {
          No item(s) to display
        }
      </ul>
      <!--      <hr>-->
    </div>

  </div>

  <hr>
  <div class="row">
    <h6>{{ sectionTitle3 }}</h6>
    <div class="col">
      <p>*ngSwitch</p>

      <div>
        <button class="btn btn-success m-1" (click)="set(1)">1st class</button>
        <button class="btn btn-primary m-1" (click)="set(2)">2nd class</button>
        <button class="btn btn-warning m-1" (click)="set(3)">3rd class</button>
      </div>

      <div class="ng-switch-result mt-3" [ngSwitch]="classLevel" >
        <p *ngSwitchCase="1">Congrats on achieving 1st class</p>
        <p *ngSwitchCase="2">Congrats on achieving 2nd class</p>
        <p *ngSwitchCase="3">Congrats on achieving 3rd class</p>
        <p *ngSwitchDefault>No result found..</p>

      </div>


    </div>
    <div class="col">
      <p> switch block built-in control structure </p>

        <div>
        <button class="btn btn-success m-1" (click)="set(1)">1st class</button>
        <button class="btn btn-primary m-1" (click)="set(2)">2nd class</button>
        <button class="btn btn-warning m-1" (click)="set(3)">3rd class</button>
      </div>

      <div class="mt-3">
        @switch (classLevel) {
          @case(1) {
            <p>Congrats on achieving 1st class</p>
          }
          @case(2) {
            <p>Congrats on achieving 2nd class</p>
          }

          @case(3) {
            <p>Congrats on achieving 3rd class</p>
          }
          @default {
            <p>No result yet...</p>
          }
        }
      </div>

    </div>

  </div>

<!--  attribute directives-->
   <hr>

  <div class="row">
    <h6>{{ sectionTitle4 }}</h6>
    <div class="col">
      <p>ngClass - add or remove css classes </p>
      <h4 [ngClass]="textColor">Ng class - attribute directive</h4>

      <div>
        <button class="btn btn-outline-danger m-4" (click)="changeTextColor('text-danger')">change to red</button>
        <button class="btn btn-outline-info" (click)="changeTextColor('text-info')">change to yellow</button>
      </div>

      <hr>

      <p [ngClass]="isAwesome ? 'text-success' : 'text-danger'">It is good to be awesome</p>

      <input type="checkbox" [(ngModel)]="isAwesome"> change color

      <hr>
       <div>
        <p [ngClass]="userClass">Custom class</p>
        <input type="text" [(ngModel)]="userClass" placeholder="ex: text-success">
      </div>
    </div>
    <div class="col">
      <p> Ng style directive - use to add or remove inline style </p>

      <h5 [ngStyle]="{'color': ngStyle, 'font-size': '1.5rem' }"> using ng style attribute directive</h5>

       <div>
        <button class="btn btn-outline-warning m-4" (click)="updateColor('orange')">change to orange</button>
        <button class="btn btn-outline-primary" (click)="updateColor('cyan')">change to blue</button>
      </div>
      <hr>
      <div>
         <p [ngStyle]="{'color': conditionStyle ? 'chartreuse' : 'darkblue' }">conditional styles</p>
      <input type="checkbox" [(ngModel)]="conditionStyle">
      </div>

    <h5 [ngStyle]="customClass">custom styles</h5>

    </div>

  </div>

</div>
